.customer-stories-sec {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  background-color: #f3f0fc6b;
}

.customer-content {
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
  margin-bottom: 35px;
  margin-top: 60px;
  padding: 20px;
  width: 55%;
  gap: 50px;
}

.filter-sec {
  display: flex;
  gap: 25px;
  width: 100%;
  height: 45px;
  justify-content: start;
}
.filter-sec p {
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
  color: #4a4a4a;
}
.customer-dropdown-industries,
.customer-dropdown-solutions {
  border: 1px solid #0000002f;
  border-radius: 5px;
  padding: 6px 15px;
  justify-content: space-between;
  color: #4a596b;
  background: #fff;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.selected {
  padding: 10px 40px;
  border: none;
  background-color: unset;
  outline: none;
  color: #4a596b;
}

.gallery-sec {
  width: 100%;
}
.gallery-card {
  width: 32%;
  margin-bottom: 20px;
  padding: 28px 20px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  cursor: pointer;
}

.gallery-card:hover {
  border: 1px solid #e31c58;

  padding: 27px 19px;
}

.card-img {
  width: 100%;
  padding-bottom: 25px;
  display: flex;
}

.card-img img {
  width: auto;
  height: 40px;
  margin-bottom: 20px;
  align-self: flex-start;
}

.gallery-card p {
  padding-bottom: 30px;
  color: #142032;
  font-size: 16px;
  text-align: start;
}

.gallery-card span {
  letter-spacing: 0.5px;
  color: #e31c58;
  margin-top: 8px;
  display: flex;
  font-weight: 500;
}

.gallery-card-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 15px;
  background: none;
}

.pagination button.active {
  color: #e31c58;
}

.pagination button:hover {
  color: #e31c58;
}



@media (max-width: 1600px) {
.customer-stories-sec {
  width: 100%;
}
.customer-content {
  width: 80%;
}
}



@media (max-width: 1024px) {
  .customer-content {
    width: 80%;
    padding: 0px;
  }
  .gallery-card {
    width: 100%;
    padding: 20px 15px;
  }
  .customer-stories-sec {
    border-top: 1px solid rgba(0, 0, 0, 0.226);
    background-color: #e4dbfc6b;
  }
}



@media (max-width: 576px) {
  .customer-content {
    width: 90%;
    padding: 0px;
  }
  .customer-dropdown-industries,
  .customer-dropdown-solutions {
    padding: 0px 7px;
  }
  .selected {
    padding: 10px 7px;
  }
  .filter-sec {
    gap: 10px;
  }
  .filter-sec p {
    font-size: 18px;

}
}
