.dropdown-content-3 .row {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.dropdown-content-3 .row .col {
  width: 100%;
}
.dropdown-content-3 .row .col span {
  font-size: 1.5rem;
}
.col-header {
  display: flex;
  align-items: center;
  padding: 0.7rem;
  gap: 8px;
}
.col-content .col-item {
  padding: 0.7rem;
  line-height: 22px;
  margin-bottom: 10px;
}
.col-item:hover {
  background-color: rgb(218, 222, 233);
}
.col-content .col-item p:nth-child(1) {
  font-size: 16px;
}
.col-content .col-item p:nth-child(2) {
  font-size: 12px;
  color: rgb(152 160 185);
}
